.streamButton, .chatButton, .delFromFavButton, .addToFavButton {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    border-radius: 100%;
    background-color: rgba(239, 239, 241, 1);
}

.streamButton:hover, .chatButton:hover, .delFromFavButton:hover, .addToFavButton:hover {
    background-color: rgb(224, 224, 235);
}

.streamButton {
    background-image: url(../../assets/twitch.png);
}

.chatButton {
    background-image: url(../../assets/chat.png);
}

.delFromFavButton {
    background-image: url(../../assets/unstar.png);
}

.addToFavButton {
    background-image: url(../../assets/star.png);
}
